# AI-BASED PERSONALIZED LEARNING SYSTEM

# 1.Problem Definition and Objective

In many classrooms, all students are taught in the same manner, even though everyone learns differently. Some students take more time to understand certain topics, while others understand them quicky and feel bored. Because of this, many students do not get he support they actually need. Personalized learning is important because it helps students learn at their own pace based on their abilitie. The goal of this system is to study student performance and understand where they are lagging. Using this information, the system suggests suitable learning content to help students improve better.

# 2. Data Understanding and preparation

The dataset used in this project is a synthetic dataset created for academic purposes. It represents student performance across different subjects using scores and time taken. This data is used to analyze learning patterns and generate personalized recommendations.

In [1]:
import pandas as pd
import random

In [2]:
students=[f"S{i}" for i in range(1,21)]
subjects=["Math","Science","English","History","Computer"]
data=[]

In [3]:
for student in students:
    for subject in subjects:
        data.append({
            "Student_ID":student,
            "Subject":subject,
            "Score":random.randint(40,95)
        })

# 3. Data Exploration

In this step, the dataset is explored to understand student performance across different subjects. Basic statictistics are used to observe score to observe distribution and learning patterns.

In [4]:
df=pd.DataFrame(data)
df.head()

  Student_ID   Subject  Score
0         S1      Math     88
1         S1   Science     72
2         S1   English     72
3         S1   History     75
4         S1  Computer     82

In [5]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  100 non-null    object
 1   Subject     100 non-null    object
 2   Score       100 non-null    int64
dtypes: int64(1), object(2)
memory usage: 2.5+ KB

            Score
count  100.000000
mean    69.960000
std     16.127597
min     40.000000
25%     58.750000
50%     71.500000
75%     83.250000
max     95.000000

# 4. Learning level identification

Student performance is categorized based on their scores to understand their learning level in each subject. This classification helps in identifying weak and strong areas for every student. The learning levels are divided into weak, medium, and strong.

In [6]:
def classify_level(score):
    if score<55:
        return "Weak"
    elif score<80:
        return "Medium"
    else:
        return "Strong"

In [7]:
df["Learning_Level"]=df["Score"].apply(classify_level)
df.head()

  Student_ID   Subject  Score Learning_Level
0         S1      Math     88         Strong
1         S1   Science     72         Medium
2         S1   English     72         Medium
3         S1   History     75         Medium
4         S1  Computer     82         Strong

# 5. Personalized Learning Recommendations

Based on the identified learning level, personalized learning recommendations are generated for each student. These recommendations aim to support weak areas, strengthen average performance, and challenge strong learners with advanced content.

In [8]:
def generate_recommendation(level):
    if level=="Weak":
        return "Revise basic concepts and practise more questions"
    elif level=="Medium":
        return "Practice standard problems and revise key topics"
    else:
        return "Try advanced problems and explore additional resources"

In [9]:
df["Recommendation"]=df["Learning_Level"].apply(generate_recommendation)
df.head()

,Student_ID,Subject,Score,Learning_Level,Recommendation
0,S1,Math,88,Strong,Try advanced problems and explore additional r...
1,S1,Science,72,Medium,Practice standard problems and revise key topics
2,S1,English,72,Medium,Practice standard problems and revise key topics
3,S1,History,75,Medium,Practice standard problems and revise key topics
4,S1,Computer,82,Strong,Try advanced problems and explore additional r...

# 6. Student-wise Personalized Learning Path

This section summarizes personalized learning recommendations for each student across different subjects. It provides a clear learning path highlighting areas that need improvement and areas of strength.

In [10]:
student_summary=df[["Student_ID","Subject","Learning_Level","Recommendation"]]
student_summary.head(10)

,Student_ID,Subject,Learning_Level,Recommendation
0,S1,Math,Strong,Try advanced problems and explore additional r...
1,S1,Science,Medium,Practice standard problems and revise key topics
2,S1,English,Medium,Practice standard problems and revise key topics
3,S1,History,Medium,Practice standard problems and revise key topics
4,S1,Computer,Strong,Try advanced problems and explore additional r...
5,S2,Math,Weak,Revise basic concepts and practise more questions
6,S2,Science,Strong,Try advanced problems and explore additional r...
7,S2,English,Weak,Revise basic concepts and practise more questions
8,S2,History,Strong,Try advanced problems and explore additional r...
9,S2,Computer,Medium,Practice standard problems and revise key topics

# 7. Evaluation and Analysis

The system was evaluated by observing the learning levels and recommendations generated for each student. Students with lower scores were correctly identified as weak and provided with basic learning suggestions. Medium-level students received standard practice recommendations, while strong students were encouraged with advanced learning tasks. This shows that the system can effectively differentiate learning needs based on performance data.

In [11]:
# Distribution of learning levels
df["Learning_Level"].value_counts()

Medium    48
Strong    33
Weak      19
Name: Learning_Level, dtype: int64

# 8. Ethical Considerations and Responsible AI

This system uses a synthetic dataset created only for academic purposes, so no real student data or personal information is involved. The same rules and evaluation criteria are applied to all students, ensuring fairness in learning level classification. However, since the dataset is synthetic and limited in size, the results may not fully represent real classroom scenarios. In real-world applications, larger and more diverse datasets would be required to improve fairness and accuracy.

# 9. Conclusion and Future Scope

This project demonstrates how student performance data can be used to create personalized learning recommendations. By identifying weak, medium, and strong learning areas, the system helps guide students toward suitable learning strategies. Although the current system is rule-based and uses synthetic data, it provides a strong foundation for personalized learning. In the future, the system can be improved by using real-world data, machine learning models, and adaptive content delivery.